       
        
        html {
            height: 100%;
            background: white;
            background: radial-gradient(circle, #fff 20%, #ccc);
            background-size: cover;
        }
       
        
        .aryfunction {
              box-sizing: border-box;
            width: 760px;
            height: auto;
            margin: 100px auto;
            padding: 20px 20px 9px;
            background: #9dd2ea;
            background: linear-gradient(#9dd2ea, #8bceec);
            border-radius: 3px;
            box-shadow: 0 4px #009de4, 0 10px 15px rgba(0, 0, 0, 0.2);
        }
.code{ font-family: Courier New; }
.dangercolor{color: brown;}
